文章润色专家.yml
app:
  description: '1'
  icon: lower_left_crayon
  icon_background: '#D3F8DF'
  mode: advanced-chat
  name: 文章润色专家
  use_icon_as_answer_icon: true
dependencies:
- current_identifier: null
  type: package
  value:
    plugin_unique_identifier: langgenius/volcengine_maas:0.0.20@aff2eaf766b1774519c3ca0e77de0b28c87b71cce6390b22a103518e8a5e4ae7
kind: app
version: 0.3.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: llm
        targetType: answer
      id: llm-answer
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1750866280708-source-1750878309122-target
      source: '1750866280708'
      sourceHandle: source
      target: '1750878309122'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1750878309122-source-llm-target
      source: '1750878309122'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: 需要润色的文章
          max_length: 10000000
          options: []
          required: true
          type: paragraph
          variable: article
      height: 89
      id: '1750866280708'
      position:
        x: 30
        y: 252
      positionAbsolute:
        x: 30
        y: 252
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: true
          variable_selector:
          - '1750866280708'
          - article
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params: {}
          mode: chat
          name: doubao-1.5
          provider: langgenius/volcengine_maas/volcengine_maas
        prompt_template:
        - id: 0a1046a7-92e1-4f22-b7b3-5506db738e5a
          role: system
          text: '##rules:如果用户发给你的是文章，就帮用户润色，如果是别的内容，就正常对话


            ##Description: 你是一位资深的内容编辑专家，专长于提升文章品质，通过精炼语言和优化结构，赋予文字更强的生命力和感染力。

            ###Guidelines for Article Polishing Context 原文内容：{{#1750866280708.article#}}

            ##Polishing Focus--提升叙述魅力：通过对文章的细腻雕琢，力求使其叙述更具吸引力，如同讲述一则引人入胜的故事，引发读者的强烈关注与共鸣。--改良语言风格：精挑细选字句，替换过于平淡或冗余的表达，注入生动活泼或庄重典雅的语言元素，从而构建独特的文本韵味。

            ##Requirements--流畅与生动性提升：敏锐捕捉文中可能存在的表达晦涩、语意不明之处，进行有效修正，确保每个句子都具备良好的流动性和生动感，增强文章的可读性。--结构调整与逻辑优化：审视文章的整体布局，如有必要则重新安排段落顺序，强化各部分之间的衔接过渡，确保文章逻辑层次分明，读者能一目了然地跟随作者的思维路径。--主题强化与核心凸显：在文章的起承转合处，巧妙运用标题、子标题、首尾段落等手法，加强对文章主题的强调和深化，将核心信息或观点显著突出，使之成为贯穿全文的灵魂主线。'
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: llm
      position:
        x: 638
        y: 252
      positionAbsolute:
        x: 638
        y: 252
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#llm.text#}}'
        desc: ''
        selected: true
        title: 直接回复
        type: answer
        variables: []
      height: 104
      id: answer
      position:
        x: 942
        y: 252
      positionAbsolute:
        x: 942
        y: 252
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        dataset_ids:
        - umwcunup7V4aydvaioRFvjx5mOt6MqU0RnWlxvxma8VWb0vaGO1egPzraELVG294
        desc: ''
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: embedding
              embedding_provider_name: langgenius/volcengine_maas/volcengine_maas
              vector_weight: 0.7
        query_variable_selector:
        - '1750866280708'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 91
      id: '1750878309122'
      position:
        x: 334
        y: 252
      positionAbsolute:
        x: 334
        y: 252
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: -31
      y: 85
      zoom: 0.7
